.navbar {
  height: 6vh;
  display: flex;
  background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3E5M3o3MDB4NHVqdWMzeDJlajFsN211eWZiN2lveWl4NXVxcXRiaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/q3k9yg1qoFzoy1D8du/giphy.gif); /* La misma imagen que usas en el <img> */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  justify-content: end;
  align-items: center;
}


.active{
  background-color: rgba(0, 0, 0, 0.500);
}



.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#home {
  margin-right: auto;
}

nav a {
  color: rgba(255, 255, 255, 0.836);
  font-size: 20px ;
  height: 100%;
  display: flex;
  padding: 0 20px;
  align-items: center;
  text-decoration: none;
}

nav a:hover{
  background-color: rgba(142, 11, 85, 0.39);
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (max-width: 630px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 60vw;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgb(0, 0, 0, 0.25);
    transition: 0.28s ease-out;
  }
  nav a,
  button {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 10px;
  }
  .open-sidebar-button:hover,
  .close-sidebar-button:hover {
    background-color: rgba(142, 11, 85, 0.39);
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
}
