.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(10, 162, 142, 0.128);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* .login-box h2 {
    margin: 0 0 40px;
    color: #ffffffcb;
    text-align: center;
    font-size: 3rem;
  } */

.login-box .user-box {
  position: relative;
}

.user-box textarea {
  width: 100%;
  min-height: 120px;
  max-height: 250px;
  resize: vertical;
}

/* input:-webkit-autofill {
    background: transparent !important;
    background-color: rgb(0, 0, 0) !important;
background-image: none !important;
color: -internal-light-dark(black, white) !important;
  }
  input:autofill {
    background: transparent !important;
    background-color: rgb(0, 0, 0) !important;
background-image: none !important;
color: -internal-light-dark(black, white) !important;
  } */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 2rem;
  color: #ffffff;
  margin-top: 10px;

  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 2rem;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  /* top:0;
    left: 0; */
  padding: 10px 0;
  color: #ffffff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 2.5rem;
  background-color: transparent;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  background-color: transparent;
  font-size: 2.5rem;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.1s;
  margin-top: 10px;
  letter-spacing: 4px;
  font-size: 2.5rem;
}

.login-box form button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.login-box a:hover {
  background: #03e8f476;
  color: #ffffffcc;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e8f47f, 0 0 15px #03e8f46b, 0 0 25px #03e8f481,
    0 0 50px #03e8f47e;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}


