.contactPage {
  display: flex;
  justify-content: center;
}

.login-box {
  max-width: 90%;
  width: 100vw;
  font-size: 1.5rem;
  margin-top: 30px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.3rem;
  color: #ffffffd3;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ffffff69;
  outline: none;
  background-color: transparent;
  background: transparent;
}

.login-box .user-box textarea {
  min-height: 120px;
  max-height: 250px;
  resize: vertical;
  width: 100%;
  padding: 10px 0;
  font-size: 1.3rem;
  color: #ffffffd3;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}



.login-box .user-box label {
  color: #03e9f4;
  background-color: transparent;
  font-size: 1.5rem;
  color: #ffffff91 !important;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.1s;
  margin-top: 10px;
  letter-spacing: 4px;
  font-size: 1.5rem;
  color: #ffffff91 !important;
  
}

.login-box button {
  margin-top: 20px;
  color: transparent;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #ffffff91 !important;
}

.sent {
  
    background: transparent !important;
    color: #ffffff !important;
    border-radius: 5px;
    box-shadow: none !important
  
}

/* .login-box a:hover {
  background: #03e9f4;
  color: #000000 !important;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
} */

@media (hover: hover) {
  .login-box a:hover {
    background: #03e9f4;
    color: #000000 !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
}

.login-box a span {
  position: absolute;
  display: block;
}

.fieldRequired {
  height: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.fieldRequired h6 {
  color: #ff4d4d;
  margin-left: 10px;
  font-size: 1rem;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

@media (min-width: 870px) {
  .login-box {
    margin-top: 60px;
    max-width: 80%;
    width: 1000px;
  }
}

/* Sent button  */
.login-box .sentButton a {
  border: none !important;
  border-radius: 10px;
  background: transparent;
  color: #ffffff !important;
  box-shadow: 0 0 5px #03e8f47f, 0 0 15px #03e8f46b, 0 0 25px #03e8f481,
    0 0 50px #03e8f47e;
  color: #ffffff91 !important;
  width: 145px;
}

.modal{
  border: none !important;
  border-radius: 10px;
  background: black;
  color: #ffffff !important;
  box-shadow: 0 0 5px #03e8f47f, 0 0 15px #03e8f46b, 0 0 25px #03e8f481,
    0 0 50px #03e8f47e;
  color: #ffffff91 !important;
}
