* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-family: "Signika Negative", sans-serif;
  line-height: 1.3;
  background-image: url(/public/wallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(50px);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
#wrapper {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.homePage {
  display: flex;
  width: auto;
  height: 100vh;
}

.gsection {
  /* background-color: rgba(17, 104, 84, 0.747); */
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.gsection img {
  width: 70%;
  height: auto;
}

.pages {
  color: white;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pages img:hover {
  filter: drop-shadow(-3mm -5mm 2mm rgba(108, 17, 161, 0.445));
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.about h1 {
  letter-spacing: 5px;
  hyphens: auto;
  padding: 10px;
  max-width: 950px;
}

.navbar {
  background: linear-gradient(
    to right,
    rgba(120, 34, 154, 0.52),
    rgba(14, 105, 96, 0.64)
  );
  width: 100vw;
  height: 8vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  display: flex;
  z-index: 100;
  position: fixed;
}

.navbar2 {
  background: linear-gradient(
    to right,
    rgba(120, 34, 154, 0.52),
    rgba(14, 105, 96, 0.64)
  );
  width: 100vw;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 100;
  position: fixed;
  display: none;
}

.navbar img:hover {
  filter: drop-shadow(3mm 1mm 3mm rgba(20, 148, 129, 0.897));
}

.navbar2 img:hover {
  filter: drop-shadow(3mm 1mm 3mm rgba(20, 148, 129, 0.897));
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 22px;
}

a:hover {
  color: rgb(43, 218, 177);
}

.gasteacLogo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 22px;
  font-weight: 400;
}

.active {
  color: rgb(184, 75, 228);
}

.active img {
  color: rgb(184, 75, 228);
  filter: drop-shadow(3mm 1mm 3mm rgba(20, 148, 129, 0.897));
}

.gasteacLogo:hover {
  text-decoration: none;
  color: rgb(43, 218, 177);
  margin-right: 20px;
  font-size: 28px;
}

.zoom-in-out-box{
  height: 80px;
  width: 80;
}

.zoom-in-out-box img{
  width: 80px;
  height: 78px;
  padding: 5px;
  margin-top: 10px;
}

.zoom-in-out-box:hover{

  width: 80px;
  height: 80px;
  animation: zoom-in 1s;
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }

}

@media only screen and (max-width: 736px) {
  .navbar img {
    display: none;
  }
  .navbar img .logo2{
    display: block;
  }
  .gsec1 {
    width: 100vw;
  }
  .pages {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .pages img {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 560px) {
  .navbar a {
    display: none;
  }
  .navbar2 {
    display: flex;
    padding: 15px;
  }
  .aboutMe h1 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 1075px) {
  .gsec2 {
    display: none;
  }
  .gsec1 {
    width: 100vw;
  }
}

@media only screen and (max-width: 360px) {
  .navbar2 h3 {
    display: none;
  }
  .navbar2 {
    display: flex;
  }
}
