* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

.sweet-container {
  background-color: rgba(0, 0, 0, 0) !important;
}

.sweet-popup {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(14, 105, 96) !important;
}

html {
  font-size: 62.5%;
}

.downloadCv {
  border-bottom: none !important;
}

.custom-ok {
  font-size: 20px !important;
  font-family: "Playfair Display", serif !important;
  background-color: rgba(108, 17, 161, 0.922) !important;
  outline: none !important;
  box-shadow: none !important;
}
.custom-cancel {
  font-size: 20px !important;
  font-family: "Playfair Display", serif !important;
  background-color: rgba(0, 0, 0, 0.64) !important;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  line-height: 1.3;
  background-image: url(/public/wallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(50px);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
#wrapper {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.homePage {
  display: flex;
  height: 100vh;
}

.gsectionRight {
  /* background-color: rgba(17, 104, 84, 0.747); */
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.gsectionLeft {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.tilt {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 188, 162, 0.158);
  border-radius: 20px;
  margin-bottom: 20px;
}

.tilt img:hover {
  filter: drop-shadow(0 0 0.75rem rgba(16, 171, 183, 0.801));
  transform: scale(1.1, 1.1);
  transition: all 0.4s ease-in;
}

.gsection img {
  width: 30%;
  justify-self: center;
  align-self: center;
}

.pages {
  color: white;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .pages img:hover {
  filter: drop-shadow(-3mm -5mm 2mm rgba(108, 17, 161, 0.445));
} */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.about h1 {
  hyphens: auto;
  padding: 10px;
  max-width: 950px;
}

.navbar {
  background: linear-gradient(
    to right,
    rgba(120, 34, 154, 0.192),
    rgba(14, 105, 96, 0.192)
  );
  width: 100vw;
  height: 8vh;
  justify-content: end;
  align-items: center;
  padding: 10px;
  display: flex;
  z-index: 100;
  position: fixed;
}

.navbar2 {
  background: linear-gradient(
    to right,
    rgba(120, 34, 154, 0.192),
    rgba(14, 105, 96, 0.192)
  );
  width: 100vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 100;
  position: fixed;
  display: none;
}

.navbar img:hover {
  filter: drop-shadow(2mm 1mm 1mm rgba(16, 188, 162, 0.587));
}

.navbar .buttons a:hover {
  filter: drop-shadow(2mm 1mm 1mm rgba(16, 188, 162, 0.587));
}

.navbar .downloadCv:hover {
  filter: drop-shadow(2mm 1mm 1mm rgba(16, 188, 162, 0.587));
}

.navbar2 img:hover {
  filter: drop-shadow(2mm 1mm 1mm rgba(20, 148, 129, 0.507));
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 22px;
}

.contact {
  display: flex;
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: start;
}

.contact h1 {
  font-size: 50px;
}

.active {
  border-bottom: 3px solid rgba(195, 140, 217, 0.52);
}

.noUnderline {
  border-bottom: none;
}

.active a .img a {
  border-bottom: none;
}

/* .gasteacLogo:hover {
  text-decoration: none ;
  color: rgb(43, 218, 177);
  margin-right: 20px;
  font-size: 28px;
} */

.zoom-in {
  height: 80px;
  width: 80;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.zoom-in img {
  width: 80px;
  height: 78px;
  padding: 5px;
  margin-top: 10px;
}

.zoom-in:hover {
  animation: zoom-in 2s;
  border-bottom: 0px solid rgba(195, 140, 217, 0);
}

.gsectionRight .gitlinkedin {
  display: none !important;
}

.gsectionLeft h1 {
  display: none !important;
}

.navbar .logo2 {
  display: none;
  position: absolute;
  height: 4.5vh;
  top: 18px;
  left: 12px;
}

.navbar2 .logo2 {
  display: none;
  position: absolute;
  height: 4.5vh;
  top: 18px;
  left: 12px;
}

.navbar .logo1 {
  position: absolute;
  height: 4.5vh;
  top: 18px;
  left: 12px;
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
}

@media only screen and (max-width: 736px) {
  .navbar .logo1 {
    display: none;
  }
  .navbar .logo2 {
    display: block;
  }

  .pages {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .pages img {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 560px) {
  .navbar a {
    display: none;
  }
  .navbar2 .logo2 {
    display: block;
  }
  .navbar2 {
    display: flex;
    padding: 15px;
  }
  .aboutMe h1 {
    font-size: 20px !important;
  }
  .gsectionLeft {
    display: flex !important;
    width: 100vw !important;
  }
  .gsectionRight {
    display: none !important;
  }
  .gsectionLeft h1 {
    display: flex !important;
  }
}

@media only screen and (max-width: 1125px) {
  .gsectionRight {
    width: 100vw;
  }
  .gsectionRight .gitlinkedin {
    display: flex !important;
    justify-content: center !important;
  }
  .gitlinkedin img {
    width: 100px !important;
    height: 100px !important;
    margin: 20px !important;
  }
  .gsectionLeft {
    display: none;
  }
}
