
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,486;1,486&display=swap');

:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
  --font-family: "Nunito Sans", sans-serif;
}

html,
body {
  cursor: default;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  /* background: linear-gradient(#15a77bc4, #097588d8); */
  background: linear-gradient(#000000a2, 50%, #000000d8);
  height: 100vh;
}


