
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 776px){
  .about p{
    font-size: 1.3rem !important;
  }
}
.about body{
  height: 130vh;
}
.aboutText {
  hyphens: auto;
  text-align: center;
  width: 80vw;
}
.aboutmebutton{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about p {
  hyphens: auto;
  font-size: 1.5rem;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.02em;
}

.about button {
  font-family: monospace;
  color: white;
  padding: 10px;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  font-size: 2rem;
  margin-left: 20px;
  cursor: pointer;
  letter-spacing: 0.05rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3k1cDBlNHF1azhxdzFzMW9lZW45M2dmOTV0MG45Mmh1d3NmN3h4diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7FgDOBGyFLgns6aiKb/giphy.gif); /* La misma imagen que usas en el <img> */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

@media (max-width: 500px){
  .aboutmebutton h1,
  .aboutmebutton button
  {
    font-size: 20px !important;
  }
  .about p{
    font-size: 1.1rem !important;
  }
}