.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.section .socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 18px;
}

.socialLinks img {
  max-width: 100%;
  max-height: 120px;
  margin: 0 20px;
  border: 6px solid rgba(0, 0, 0, 0);
}

.socialLinks img.git {
  background-image: url(giphy.gif); /* La misma imagen que usas en el <img> */

  background-position: left;
  background-repeat: repeat;
  border-radius: 100%;
  transition: all 0.1s ease-in;
}

.socialLinks img.linkedin {
  background-image: url(giphy.gif); /* La misma imagen que usas en el <img> */

  background-position: right;
  background-repeat: repeat;
  border-radius: 100%;
  transition: all 0.1s ease-in;
}

.socialLinks img:hover {
  filter: none;
  border: 6px dashed rgba(255, 255, 255, 0.475);
}

.sectionIcons {
  margin-top: 50px;
  width: 100%;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionIcons img {
  filter: grayscale(33%) !important;
  display: flex;
  width: auto;
  max-height: 80px;
  margin: 0 25px;
}

.sectionIcons img:hover {
  filter: grayscale(0%) !important;
  transform: scale(1.1, 1.1);
  transition: all 0.1s ease-in;
}

.sectionIcons img:not(:hover) {
  filter: none;
  transform: scale(1, 1);
  transition: all 0.1s ease-in;
}

.section h1 {
  text-align: center;
  background-image: url(giphy.gif);
  background-repeat: repeat;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 0.2px rgba(255, 255, 255, 0.409);
  text-align: center;
  border-bottom: 3px solid grey;
}

.section h2 {
  background-image: url(giphy.gif);
  background-repeat: repeat;
  color: transparent;
  text-align: center;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 0.2px rgba(255, 255, 255, 0.409);
  margin-bottom: 50px !important;
  margin: 0;
}
.section h3 {
  background-image: url(giphy.gif);
  background-repeat: repeat;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 0.2px rgba(255, 255, 255, 0.409);
  text-align: center;
  margin: 0;
}

@media (max-width: 630px) {
  .sectionIcons {
    display: flex;
    flex-wrap: wrap;
  }
  .section h3{
    font-size: 1.5rem !important;
  }
  .section h2{
    font-size: 1.9rem !important;
  }
  .sectionIcons img {
    max-width: 60px;
  }
  .section h1 {
    border-bottom: none;
    margin-bottom: 0;
  }
}

@media (max-width: 415px) {
  .sectionIcons img {
    max-width: 50px;
  }
}
